<footer class="footer">
  <div class="footer-main-block">
    <ul class="custom-router-links">
      <li routerLinkActive="active">
  <div class="footer-icon" style="text-align: center;">
    <a [routerLink]="['/dashboard']">
    <!-- <img src="../../../assets/img/side-menu-icons/dashboard.png"> -->
    <i class="mdi mdi-home" style="font-size: 20px;"></i>
    <div class="custom-label">
      Home
    </div>
  </a>
  </div>
  </li>
  <li routerLinkActive="active">
  <div class="footer-icon" style="text-align: center;">
    <a [routerLink]="['/project']">
    <!-- <img src="../../../assets/img/side-menu-icons/sub_admin_management.png"></a> -->
    <i class="mdi mdi-home-circle" style="font-size: 20px;"></i>
    <div class="custom-label">
     Project List
    </div>
  </a>
  </div>
  </li>
  <!-- <div class="footer-icon" style="text-align: center;">
    <a [routerLink]="['/customer']">
    <i class="mdi mdi-account-multiple" style="font-size: 20px;"></i>
    <div class="custom-label">
      <span style="font-size: 10px; white-space: nowrap;">Customer List</span>
    </div>
  </a>
  </div> -->
  <li routerLinkActive="active">
  <div class="footer-icon" style="text-align: center;">
    <a [routerLink]="['/profile']">
    <!-- <img src="../../../assets/img/side-menu-icons/user_management.png"> -->
    <i class="mdi mdi-account-circle" style="font-size: 20px;"></i>
    <div class="custom-label">
      Profile
    </div>
  </a>
  </div>
  </li>
  </ul>
  </div>
</footer>
