
<div class="common-class">
  <div class="common-class-left">
      <!-- <div class="" style="display: flex; align-items: center;" (click)="goBack()">
          <div class="user-go-back-main-inner" >
              <img src="../../../assets/img/wallet/user-go-back.png" alt="" />
            </div>Back
      </div> -->
      <div class="" style="display: flex; align-items: center;" (click)="goBack()">
        <div class="user-go-back-main-inner" >
            <!-- <img src="../../../assets/img/wallet/user-go-back.png" alt="" /> -->
            <i class="fa fa-chevron-left"></i>
          </div>
    </div>
  </div>
</div>

            <div class="login-contant-block">
              <h3 class="login-merchant">Change Password</h3>
              <div class="form-style">
                <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                  <div class="form-group pb-1 mb-0">
                      <div class="full-feild">
                          <label class="">Old Password</label>
                          <div class="for-cross-block">
                          <input
                          type="{{ showPassword3 ? 'text' : 'password' }}"
                            placeholder="Enter Old Password"
                            class="form-control"
                            formControlName="oldPassword"  
                            (keydown)="onKeyPress($event)"       
                          />
                                  <div class="eye-icon" (click)="togglePasswordVisibility(3)">
                                      <div class="password-tooltip">
                                        <i class="{{ showPassword ? 'mdi mdi-eye' : 'mdi mdi-eye-off' }}"></i>
                                      </div>
                                  </div>
                          </div>
                          <div  class="custom-error-block"
                            *ngIf="
                              submitted &&
                              changePasswordForm.controls['oldPassword'].hasError(
                                'required'
                              )
                            "
                          >
                            Old Password is required
                          </div>
                    </div>
                      <div class="full-feild">
                    <label class="">New Password</label>
                    <div class="for-cross-block">
                    <input
                    type="{{ showPassword ? 'text' : 'password' }}"
                      placeholder="Create New Password"
                      class="form-control"
                      id="exampleInputnewpass"
                      aria-describedby="emailHelp"
                      formControlName="newPassword"
                      [ngClass]="{ 'is-invalid': (submitted && changePasswordForm.controls['newPassword'].hasError('required')) || (changePasswordForm.controls['newPassword'].hasError('required') &&  changePasswordForm.get('newPassword').touched) }"
                      pattern="^\S.*$"
                      (keydown)="onKeyPress($event)"
                      (keyup)="customKeyUp()"
                    />
                    <div class="for-cross-block-inner" *ngIf="(submitted && changePasswordForm.controls['newPassword'].hasError('required')) || (changePasswordForm.controls['newPassword'].hasError('required') &&  changePasswordForm.get('newPassword').touched)"><img src="../../assets/img/faces/cross-input.png"></div>
                            <div class="eye-icon" (click)="togglePasswordVisibility(1)">
                                <div class="password-tooltip">
                                  <i class="{{ showPassword ? 'mdi mdi-eye' : 'mdi mdi-eye-off' }}"></i>
                                  <span class="password-tooltip-text">Password must be at least 8 characters, 1 uppercase letter, 1 lowercase letter, 1 special character</span>
                                </div>
                            </div>
                    </div>
                    <div  class="custom-error-block"
                      *ngIf="
                        submitted &&
                        changePasswordForm.controls['newPassword'].hasError(
                          'required'
                        )
                      "
                    >
                      New Password is required
                    </div>
                    <div class="custom-error-block" *ngIf="changePasswordForm.get('newPassword').hasError('invalidPassword') && !(changePasswordForm.get('newPassword').hasError('required'))">
                      Invalid password format.
                  </div>
              </div>
              <div class="full-feild">
                  <label class="">Confirm Password</label>
                    <div class="for-cross-block">
                    <input
                    type="{{ showConfirmPassword ? 'text' : 'password' }}"
                      placeholder="Confirm Password"
                      class="form-control"
                      formControlName="confirmPassword"
                      pattern="^\S.*$"
                      (keydown)="onKeyPress($event)"
                    />
                            <div class="eye-icon" (click)="togglePasswordVisibility(2)">
                                <i class="{{ showConfirmPassword ? 'mdi mdi-eye' : 'mdi mdi-eye-off' }}"></i>    
                            </div>
</div>
                    <div  class="custom-error-block"
                      *ngIf="
                        submitted &&
                        changePasswordForm.controls['confirmPassword'].hasError(
                          'required'
                        )
                      "
                    >
                      Confirm Password is required
                    </div>
                    <div  class="custom-error-block"
                      *ngIf=" 
                        submitted &&
                        changePasswordForm.controls['confirmPassword'].hasError(
                          'pattern'
                        )
                      "
                    >
                      Please enter the valid password
                    </div>
                    </div>
                    <p class="text-center mt-2">
                      Password Strength:
                      <b [ngStyle]="getStrongStyle()">{{ strong }}</b>
                    </p>
                  </div>
                  <div class="pb-2">
                    <button
                      type="submit"
                      class="btn merchant-login w-100 font-weight-bold mt-2"
                    >
                      Save
                    </button>
                  </div>
                  <!-- <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div> -->
                </form>
              </div>
            </div>
        

<!-- <div class="common-class">
    <div class="common-class-left">
        <div class="" style="display: flex; align-items: center;" (click)="goBack()">
            <div class="user-go-back-main-inner" >
                <img src="../../../assets/img/wallet/user-go-back.png" alt="" />
              </div>Back
        </div>
    </div>
  </div>

              <div class="login-contant-block">
                <h3 class="login-merchant">Change Password</h3>
                <div class="form-style">
                  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                    <div class="form-group pb-3">
                        <div class="full-feild">
                            <label class="">Old Password</label>
                            <div class="for-cross-block">
                            <input
                            type="{{ showPassword3 ? 'text' : 'password' }}"
                              placeholder="Enter Old Password"
                              class="form-control"
                              formControlName="oldPassword"  
                              (keydown)="onKeyPress($event)"       
                            />
                                    <div class="eye-icon" (click)="togglePasswordVisibility(3)">
                                        <div class="password-tooltip">
                                          <i class="{{ showPassword ? 'mdi mdi-eye' : 'mdi mdi-eye-off' }}"></i>
                                        </div>
                                    </div>
                            </div>
                            <div  class="custom-error-block"
                              *ngIf="
                                submitted &&
                                changePasswordForm.controls['oldPassword'].hasError(
                                  'required'
                                )
                              "
                            >
                              Old Password is required
                            </div>
                      </div>
                        <div class="full-feild">
                      <label class="">New Password</label>
                      <div class="for-cross-block">
                      <input
                      type="{{ showPassword ? 'text' : 'password' }}"
                        placeholder="Create New Password"
                        class="form-control"
                        id="exampleInputnewpass"
                        aria-describedby="emailHelp"
                        formControlName="newPassword"
                        [ngClass]="{ 'is-invalid': (submitted && changePasswordForm.controls['newPassword'].hasError('required')) || (changePasswordForm.controls['newPassword'].hasError('required') &&  changePasswordForm.get('newPassword').touched) }"
                        pattern="^\S.*$"
                        (keydown)="onKeyPress($event)"
                        (keyup)="customKeyUp()"
                      />
                      <div class="for-cross-block-inner" *ngIf="(submitted && changePasswordForm.controls['newPassword'].hasError('required')) || (changePasswordForm.controls['newPassword'].hasError('required') &&  changePasswordForm.get('newPassword').touched)"><img src="../../assets/img/faces/cross-input.png"></div>
                              <div class="eye-icon" (click)="togglePasswordVisibility(1)">
                                  <div class="password-tooltip">
                                    <i class="{{ showPassword ? 'mdi mdi-eye' : 'mdi mdi-eye-off' }}"></i>
                                    <span class="password-tooltip-text">Password must be at least 8 characters, 1 uppercase letter, 1 lowercase letter, 1 special character</span>
                                  </div>
                              </div>
                      </div>
                      <div  class="custom-error-block"
                        *ngIf="
                          submitted &&
                          changePasswordForm.controls['newPassword'].hasError(
                            'required'
                          )
                        "
                      >
                        New Password is required
                      </div>
                      <div class="custom-error-block" *ngIf="changePasswordForm.get('newPassword').hasError('invalidPassword') && !(changePasswordForm.get('newPassword').hasError('required'))">
                        Invalid password format.
                    </div>
                </div>
                <div class="full-feild">
                    <label class="">Confirm Password</label>
                      <div class="for-cross-block">
                      <input
                      type="{{ showConfirmPassword ? 'text' : 'password' }}"
                        placeholder="Confirm Password"
                        class="form-control"
                        formControlName="confirmPassword"
                        pattern="^\S.*$"
                        (keydown)="onKeyPress($event)"
                      />
                              <div class="eye-icon" (click)="togglePasswordVisibility(2)">
                                  <i class="{{ showConfirmPassword ? 'mdi mdi-eye' : 'mdi mdi-eye-off' }}"></i>    
                              </div>
  </div>
                      <div  class="custom-error-block"
                        *ngIf="
                          submitted &&
                          changePasswordForm.controls['confirmPassword'].hasError(
                            'required'
                          )
                        "
                      >
                        Confirm Password is required
                      </div>
                      <div  class="custom-error-block"
                        *ngIf=" 
                          submitted &&
                          changePasswordForm.controls['confirmPassword'].hasError(
                            'pattern'
                          )
                        "
                      >
                        Please enter the valid password
                      </div>
                      </div>
                      <p class="text-center mt-2">
                        Password Strength:
                        <b [ngStyle]="getStrongStyle()">{{ strong }}</b>
                      </p>
                    </div>
                    <div class="pb-2">
                      <button
                        type="submit"
                        class="btn merchant-login w-100 font-weight-bold mt-2"
                      >
                        Confirm
                      </button>
                    </div>
                  </form>
                </div>
              </div> -->
          
  