.weak {
  color: red;
}
.poor {
  color: yellow;
}
.medium {
  color: orange;
}
.strong {
  color: green;
}
.main-login-block {
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-block-inner {
  padding: 0px;
  width: 100%;
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.login-image-block img {
}
.login-image-block {
  width: 100%;
  height: 100%;
  min-height: 90vh;
  /* background-image: url("../../../assets/img/wallet/login.png"); */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.logo-block {
  width: 100%;
  max-width: 85px;
  margin: auto;
  padding-bottom: 20px;
}
.logo-block img {
  width: 100%;
}
.login-contant-block {
  width: 100%;
  margin: auto;
  background-color: #ffffff;
  padding: 20px;
  border: 0px;
  border-radius: 10px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}
.login-merchant {
  color:#252B5C;
  font-weight: 600;
  margin-bottom: 30px;
}
.merchant-login {
  background-color: #8BC83F;
      color: #fff;
      border: none;
      font-size: 16px;
      width: 100%;
      border-radius: 50px;
      height: 44px;
}
input {
  background-color: #efefef !important;
  border: none !important;
  height: 44px;
}
.for-cross-block {
  position: relative;
}
.for-cross-block-inner {
  position: absolute;
  right: 10px;
  width: 100%;
  top: 0;
  bottom: 0;
  display: flex;
  z-index: 99999;
  max-width: 15px;
  align-items: center;
}
.for-cross-block-inner img {
  width: 100%;
}
.invalid {
  background-color: #ffe8e8 !important;
  border: 1px solid #ffe8e8 !important;
}
.login-contant-block-upper2 {
  min-height: 90vh;
  display: flex;
  align-items: center;
}
.my-super-filled-class,
.my-red-background-class {
  background-color: #f8e7ff !important;
}
input::placeholder {
  color: #939393 !important;
}
.custom-error-block {
  color: red !important;
  font-size: 10px;
}
.eye-icon
{
    position: absolute;
    right: 10px;
    top: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
}
.password-eye-block
{
    position: relative;
}
.password-tooltip
{
    position: relative;
}
.password-tooltip-text
{
    position: absolute;
    background-color: black;
    color: #ffffff;
    display: none;
    font-size: 10px;
    width: 263px;
    padding: 10px;
    border-radius: 10px;
    top: -61px;
    left: -162px 
}
.error-block-password {
    position: relative;
}
.password-tooltip:hover .password-tooltip-text{
    display: block;
}
.for-cross-block
{
    position: relative;
}
.for-cross-block-inner
{
    position: absolute;
    right: 30px;
    width: 100%;
    top: 0;
    bottom: 0;
    display: flex;
    z-index: 99999;
    max-width: 15px;
    align-items: center;
}
.for-cross-block-inner img
{
    width: 100%;
}
.is-invalid
{
    background-color: #FFE8E8 !important;
    border: 1px solid #FFE8E8 !important;
}
.custom-error-block
{
    color:red !important;
    font-size: 14px;
}
@media only screen and (max-width: 767px) {
  .new-custom-button-for-mobile {
    display: initial !important;
  }
  .new-custom-button {
    display: none !important;
  }
  .search-field.custom-search {
    /* width: 34%; */
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    margin-left: 0px !important;
    width: 100% !important;
    height: 48px;
}
.mobile-view
{
  display: block !important;
}
.desktop-view
{
  display: none !important;
}
  .common-class {
    display: initial !important;
  }
  .common-class-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0px 10px 0px;
  }
  .common-class-left span.card-title.new-title {
    margin-left: 0px;
    font-size: 20px;
    font-weight: 500;
  }
  .common-class-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .three-dots-block {
    margin-right: 20px;
  }
  .full-feild
  {
      margin-bottom: 20px;
  }
  .custom-project-list-block
  {
    border:1px solid #d8232a;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  }
  .modal-dialog-centered::before 
  {
    display: block !important;
  }
  .custom-project-list-block .custom-row:last-child
  {
    border-bottom: 0px !important;
  }
  .user-go-back-main-inner {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #dfdfe0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
    cursor: pointer;
  }
  
  .user-go-back-main-inner i {
    font-size: 12px;
    font-weight: 200;
    color: #252B5C;
  }
  .custom-row
  {
    width: 100%;
    display: flex;
    align-items: end;
    margin-bottom: 5px;
    border-bottom: 1px solid #f8f4f4;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
  .custom-row .custom-col-4
  {
    width: 50%;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
  }
  .custom-row .custom-col-8
  {
    width: 50%;
    font-size: 14px;
    font-weight: 100;
    color: #000000;
  }
  .trash-block {
    text-align: right;
    margin-right: 20px;
  }
  .trash-block2 {
    text-align: right;
    margin-right: 20px;

  }
  .trash-block2 a {
    color: blue;
    text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
    
  }
  .custome-delete-modal
  {
      width: 100%;
      max-width: 300px;
      margin: auto
  }
  .delete-main-image {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ff2d2d;
      margin: auto;
    }
    .delete-main-image img {
      width: 100%;
      max-width: 20px;
    }
    .point-text2
    {
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      margin-top: 10px;
    }
    .custom-delete-modal-footer
    {
      text-align: center;
    }
    .custom-delete-modal-footer .btn-yes
    {
      background-color: #ff2d2d;
      border: 1px solid #ff2d2d;
      padding: 10px 20px;
      color: #ffffff;
      cursor: pointer;
      font-size: 14px;
      margin-right: 10px;
    }
    .custom-delete-modal-footer .btn-cancel
    {
      background-color: #ffffff;
      border: 1px solid #ff2d2d;
      padding: 10px 20px;
      color: #ff2d2d;
      cursor: pointer;
      font-size: 14px;
    }
    /* .user-go-back-main-inner {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: #ff2d2d;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 6px;
      cursor: pointer;
    }
    
    .user-go-back-main-inner img {
      width: 100%;
      max-width: 12px;
    } */
    .custom-images img {
     width: 100%;
     /* max-width: 50px;
     height: 50px; */
    };
    .custom-col-12
    {
      width: 100%;
      display: block;
    }
}